// body
body {
    background: #fff url('../img/popa16bg.jpg') 0 0 / 100% auto repeat-y;
}


// navbar

.navbar-brand img {
    height: 76px;
    width: auto;
}

.navbar {
    background: $navbar-background;
}

// typography

h2 {
    font-weight: bold;
}

#main-menu li a {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
}
